<mat-toolbar color="primary" class="header mat-elevation-z8">
  <mat-toolbar-row>
    <h6>Bike Risk Assessor</h6>
    <h6 style="margin-left: auto">Made by: Group 5</h6>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card class="mat-card-container mat-elevation-z8">
      <h1> <strong>Will You Get Your Bike Back?</strong></h1>
      <mat-divider></mat-divider>
      <p style="margin:30px 0 30px 0;">How likely is your bike to get stolen, based on a few metrics? Fill in the information to find out</p>

      <div class="row">
        <!-- <div class="col-md-2">
          <mat-form-field appearance="outline">
            <mat-label>Cost</mat-label>
            <input matInput placeholder="75">
            <mat-hint>Rough estimate in dollars</mat-hint>
          </mat-form-field>
        </div> -->
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Week of the Month</mat-label>
              <select matNativeControl required>
                <option value="week1">Week 1</option>
                <option value="week2">Week 2</option>
                <option value="week3">Week 3</option>
                <option value="week4">Week 4</option>
              </select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Season</mat-label>
              <select matNativeControl required>
                <option value="high">High</option>
                <option value="low">Low</option>
              </select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Regions</mat-label>
              <select matNativeControl required>
                <option value="etobicoke">Etobicoke</option>
                <option value="northyork">North York</option>
                <option value="scarborough">Scarborough</option>
                <option value="york">York</option>
                <option value="eastyork">East York</option>
                <option value="oldtoronto">Old Toronto</option>
              </select>
            </mat-form-field>
        </div>
      </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Premise Type</mat-label>
              <select matNativeControl required>
                <option value="outdoor">Outdoor</option>
                <option value="indoor">Indoor</option>
              </select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Colour</mat-label>
              <select matNativeControl required>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="yellow">Yellow</option>
                <option value="other">Other</option>
              </select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
              <mat-label>Bike Type</mat-label>
              <select matNativeControl required>
                <option value="TO">TO</option>
                <option value="EL">EL</option>
                <option value="MT">MT</option>
                <option value="OT">OT</option>
                <option value="RC">RC</option>
                <option value="RG">RG</option>
                <option value="other">Other</option>
              </select>
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div style="margin-left: 80%; margin-top:30px; margin-bottom: 30px;">
          <button mat-raised-button color="primary" (click)="onSubmitData()">Submit</button>
        </div>
      </div>
        <mat-divider></mat-divider>
      <div class="row" style="margin:30px 0 30px 30px">
        <h3> Result: </h3>
      </div>
      <div class="row">
        <p> {{prediction}}</p>
      </div>
  </mat-card>

</div>